@model OutreachModule.Models.Patient 
@{
    ViewBag.Title = "Add Patient";
 }

<h2>Add Patient</h2>

@Html.Partial("~/Views/Shared/_Patient.cshtml")

@Html.ActionLink("Back", "Index", new { campId = ViewBag.camp.Id })
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var mes = "@ViewBag.Message";
        if (mes != '') {
            window.alert(mes);
        }
    </script>
    @Scripts.Render("~/Scripts/birthdatepickersetup.js")
    @Scripts.Render("~/Scripts/blockenterkey.js")
}
