@model OutreachModule.Models.PatientDetailViewModel

@{
    ViewBag.Title = "Patient";
}

<div class="row">
    <div class="col-md-7">
        <h2>Patient</h2>
    </div>
    <div class="col-md-5">
        <br/>
        <button type="button" class="btn btn-default" onclick="location.href='@Html.Raw(Url.Action("Index","Examination",new {patientId = Model.patient.Id, campId = ViewBag.camp.Id}))'">New Examination</button>
    </div>
</div>

<hr />
@Html.Partial("~/Views/Shared/_PatientDetail.cshtml")
<br />
<p>
    @if (User.IsInRole(OutreachModule.Controllers.OutreachRoles.RoleAdmin))
    {
        @Html.ActionLink("Edit", "EditPatient", new { patientId = Model.patient.Id },null)
        @Html.Raw(" | ")
        @Html.ActionLink("Delete", "DeletePatient", new { patientId = Model.patient.Id }, new { onclick = "return confirm('Are you sure you wish to delete this patient?');" })
        @Html.Raw(" | ")
    }
    @Html.ActionLink("Back to Camp", "Index", new {campId = ViewBag.Camp.Id})
</p>
