@model OutreachModule.Models.PatientDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.Partial("~/Views/Shared/_PatientDetail.cshtml")

<p>
    @if(User.IsInRole(OutreachModule.Controllers.OutreachRoles.RoleAdmin))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.patient.Id });
        @Html.Raw(" | ");
        @Html.ActionLink("Delete", "Delete", new { id = Model.patient.Id });
        @Html.Raw(" | ");
    }
    @Html.ActionLink("Back to List", "Index")
</p>
