@model OutreachModule.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Account";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
   
    <h4>View your account details and change your password</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd>@User.FullName()</dd>
        <dt>Email:</dt>
        <dd>@Model.Email</dd>
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
