@model OutreachModule.Models.AlignmentModel

@if(Model.index == 0) {
    //@Html.Raw("<div class=\"row\">");
    @Html.Raw("<table class=\"table\">");
    @Html.Raw("<tr>");
}
<td>

        <div class="input-group">
            @*<div class="input-group-addon">H</div>*@
            @*@Html.EditorFor(m => m.horizontal, new { htmlAttributes = new { @class = "form-control" } })*@
        </div>
        @Html.DropDownListFor(m => m.horizontal, Model.HorizontalOptions, new { @class = "form-control",style="margin-bottom:5px" })
        @Html.DropDownListFor(m => m.vertical, Model.VerticalOptions, new { @class = "form-control" })
        <div class="input-group">            
            @*<div class="input-group-addon">V</div>
            @Html.EditorFor(m => m.vertical, new { htmlAttributes = new { @class = "form-control" } })*@
        </div>

</td>
@*<div class="form-group col-xs-4">
    <div class="input-group">
        <div class="input-group-addon">H</div>
        @Html.EditorFor(m => m.horizontal, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="input-group">
        <div class="input-group-addon">V</div>
        @Html.EditorFor(m => m.vertical, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>*@

@if ((Model.index + 1) % 3 == 0)
{
    @Html.Raw("</tr>");

    if (Model.index != 8)
    {
    @Html.Raw("<tr>");
    }
    if (Model.index == 8)
    {
        @Html.Raw("</table>");
    }
}

@*@if((Model.index + 1) % 3 == 0)
{
    @Html.Raw("</div>");
    
    if(Model.index != 8) {
        @Html.Raw("<div class=\"row\">");
     }
}*@
