@model OutreachModule.Models.ExaminationCreateModel
@using MvcCheckBoxList.Model
@{
    ViewBag.Title = "Examination";
}

<h2>Examination</h2>
<div class="row">
    <div class="col-md-1">
        <img src="@Url.Content("/OutreachModule/ptimages/"+Model.patient.photoPath)" alt="@Model.patient.name" style="max-height:100px" />
    </div>
    <div class="col-md-4">
        <ul class="list-unstyled">
            <li>@Model.patient.mrn</li>
            <li>@Model.patient.name</li>
            <li>@Model.patient.gender, @Model.patient.age</li>
        </ul>
    </div>
    <div class="col-md-4">
        @Model.camp.code, @Html.DisplayFor(model=>model.camp.date)
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-12">
        <h4>Create new examination</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Chief Complaints</label>
            <div class="col-md-2">
                <p>R/E</p>
                @Html.CheckBoxListFor(model => model.PostedRightComplaints.ComplaintIds, model => model.AvailableComplaints, entity => entity.Id, entity => entity.Name, model => model.SelectedRightComplaints, Position.Vertical)
                @Html.EditorFor(model => model.otherRight, new { htmlAttributes = new { @class = "form-control", placeholder = "Specify other..." } })
            </div>
            <div class="col-md-2">
                <p>L/E</p>
                @Html.CheckBoxListFor(model => model.PostedLeftComplaints.ComplaintIds, model => model.AvailableComplaints, entity => entity.Id, entity => entity.Name, model => model.SelectedLeftComplaints, Position.Vertical)
                @Html.EditorFor(model => model.otherLeft, new { htmlAttributes = new { @class = "form-control", placeholder = "Specify other..." } })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Ocular History</label>
            <div class="col-md-2">
                <p>R/E</p>
                @Html.CheckBoxListFor(model => model.PostedRightOcularHistory.ComplaintIds, model => model.AvailableOcularHistory, entity => entity.Id, entity => entity.Name, model => model.SelectedRightOcularHistory, Position.Vertical)
                @Html.EditorFor(model => model.otherOcularHistoryRight, new { htmlAttributes = new { @class = "form-control", placeholder = "Specify other..." } })
            </div>
            <div class="col-md-2">
                <p>L/E</p>
                @Html.CheckBoxListFor(model => model.PostedLeftOcularHistory.ComplaintIds, model => model.AvailableOcularHistory, entity => entity.Id, entity => entity.Name, model => model.SelectedLeftOcularHistory, Position.Vertical)
                @Html.EditorFor(model => model.otherOcularHistoryLeft, new { htmlAttributes = new { @class = "form-control", placeholder = "Specify other..." } })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">History</label>
            <div class="col-md-2">
                <p>Medical</p>
                @Html.CheckBoxListFor(model => model.PostedMedicalHistory.ComplaintIds, model => model.AvailableMedicalHistory, entity => entity.Id, entity => entity.Name, model => model.SelectedMedicalHistory, Position.Vertical)
                @Html.EditorFor(model => model.otherMedicalHistory, new { htmlAttributes = new { @class = "form-control", placeholder = "Specify other..." } })
            </div>
            <div class="col-md-2">
                <p>Family</p>
                @Html.CheckBoxListFor(model => model.PostedFamilyHistory.ComplaintIds, model => model.AvailableMedicalHistory, entity => entity.Id, entity => entity.Name, model => model.SelectedFamilyHistory, Position.Vertical)
                @Html.EditorFor(model => model.otherFamilyHistory, new { htmlAttributes = new { @class = "form-control", placeholder = "Specify other..." } })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Spectacles</label>
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.spectacles, "true") With spectacles
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.spectacles, "false") Without spectacles
            </label>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        @Html.HiddenFor(model => model.dateStarted)
        @Html.HiddenFor(model => model.campId)
        @Html.HiddenFor(model => model.patientId)
    </div>

}

<div>
    @Html.ActionLink("Back", "Index", "Camp", null, null, null, new { campId = @Model.campId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var mes = "@ViewBag.Message";
        if (mes != '') {
            window.alert(mes);
        }
    </script>
}
