@model OutreachModule.Models.E2
@{
    ViewBag.Title = "Prescription";
    Layout = "~/Views/Shared/_LayoutPrintout.cshtml";
}

<h2>Spectacles Prescription</h2>

<dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>@Model.Examination.Patient.name</dd>
    <dt>Age</dt>
    <dd>@Model.Examination.Patient.age</dd>
    <dt>Sex</dt>
    <dd>@Model.Examination.Patient.gender</dd>
    <dt>Phone Number 1</dt>
    <dd>@Model.Examination.Patient.contact_1</dd>
    <dt>Phone Number 2</dt>
    <dd>@Model.Examination.Patient.contact_2</dd>
    <dt>Family Phone Number</dt>
    <dd>@Model.Examination.Patient.family_contact_number</dd>
    <dt>Location</dt>
    <dd>@Model.Examination.Patient.locationDisplay</dd>

    <dt>MRN</dt>
    <dd>@Model.Examination.Patient.mrn</dd>
    <dt>
        Refraction
    </dt>
    <dd>
        @foreach (var r in Model.Refractions)
        {
            @Html.Raw("<b>" + r.eye + ": </b>")
            @Html.Raw("sph: ") @Html.Raw(r.sph)
            @Html.Raw(", cyl: ") @Html.Raw(r.cyl)
            @Html.Raw(", axis: ") @Html.Raw(r.axis) @Html.Raw("&emsp;")
        }
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.displaySpectacles)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.displaySpectacles)
    </dd>

</dl>

<p>@Model.timestamp</p>